<nav class="ui fixed menu navbar">
  <div class="ui container">
    <a class="header item">
      <img src="https://dashthis.com/dist/Integrations/Comscore/e3b92147-4c7c-4c24-9e12-984bf4899e52-b92c000fd3448ee80d1f203f332720821aac47deeecd0987f18394d3e08152eb.svg" class="logo">
      Com Plex
    </a>
    <div class="right menu">
      <a class="item">
        <img class="ui avatar image" src="https://semantic-ui.com/images/avatar2/large/kristy.png">
        <span>Someone</span>
      </a>
    </div>
  </div>
</nav>
